@model RegisterGameViewModel

@{
    
}

<section class="categories">
    <aside>
        <nav>
            <a href="#">Games</a>
            <a href="#">Sales</a>
            <a href="#">Shippings</a>
            <ul class="flex container">
            </ul>
        </nav>
    </aside>
</section>

<section class="container register-game">
    <div class="card">
        <form method="post" class="form">
            <div class="form-title">
                <h2 class="title-color">Register Game</h2>
            </div>

            @if (ViewData.ContainsKey("MSG_E"))
            {
                <div class="form-control">
                    <div class="msg-error">@ViewData["MSG_E"].ToString()</div>
                </div>
            }

            <div class="form-control name">
                <label asp-for="Game.Name" for="name"></label>
                <input asp-for="Game.Name" placeholder="">
                <div class="msg-error-sm"><span asp-validation-for="Game.Name"></span></div>
            </div>
            <div class="form-control price">
                <label asp-for="Game.Price"></label>
                <input asp-for="Game.Price" placeholder="" min="8">
                <div class="msg-error-sm"><span asp-validation-for="Game.Price"></span></div>
            </div>
            <div class="form-control stock">
                <label asp-for="Game.StockQuantity"></label>
                <input asp-for="Game.StockQuantity" placeholder="">
                <div class="msg-error-sm"><span asp-validation-for="Game.StockQuantity"></span></div>
            </div>
            <div class="form-control platform">
                <label asp-for="Game.Platform.Id">Platform</label>
                <select class="form-control" asp-for="Game.Platform.Id" asp-items="@((SelectList)ViewData["Platforms"])"></select>
                <div class="msg-error-sm"><span asp-validation-for="Game.Platform.Id"></span></div>
            </div>
            <div class="form-control details">
                <label asp-for="Game.Details">Details</label>
                <textarea asp-for="Game.Details"></textarea>
                <div class="msg-error-sm"><span asp-validation-for="Game.Details"></span></div>
            </div>
            @for (int i = 0; i < Model.ImgsPerGame; i++)
            {
                <div class="form-control image">
                    <label>Select an image</label>
                    <input class="display-none" type="file" accept="image/*" />
                    <div class="img-container">
                        <img data-temp-img="true" src="~/img/default-img.png" />
                        <button class="display-none btn-danger cursor-pointer" type="button">X</button>
                    </div>
                </div>
            }

            <div class="form-control-submit">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                <a href="#">Back</a>
            </div>
        </form>
    </div>
</section>

<script src="~/js/updateImage.js"></script>