@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @if (TempData.ContainsKey("MSG_S"))
    {
        <div class="msg-success">@TempData["MSG_S"].ToString()</div>
    }

    @ViewData["Title"]
</div>