@{ 
    ViewData["Title"] = "Home";
}

<section class="categories">
    <aside>
        <nav>
            <ul class="flex container">
                <a href="#">Games</a>
                <a href="#">Sales</a>
                <a href="#">Shippings</a>
            </ul>
        </nav>
    </aside>
</section>
<section class="container main-panel">
    @if (TempData.ContainsKey("MSG_S"))
    {
        <div class="msg-success">@TempData["MSG_S"].ToString()</div>
    }

    @ViewData["Title"].ToString()
</section>