@model UserLoginDTO

@{
    ViewData["Title"] = "Seller Login";
}

<div class="login container">
    <div class="card">
        <form method="post" class="form">
            <div class="form-title">
                <h2 class="title-color">Sign In</h2>
            </div>

            @if (ViewData.ContainsKey("MSG_E"))
            {
                <div class="form-control">
                    <div class="msg-error">@ViewData["MSG_E"].ToString()</div>
                </div>
            }

            <div class="form-control">
                <input asp-for="Email" type="email" placeholder="Email">
                <div class="msg-error-sm"><span asp-validation-for="Email"></span></div>
            </div>
            <div class="form-control">
                <input asp-for="Password" type="password" placeholder="Password" maxlength="20" min="8">
                <div class="msg-error-sm"><span asp-validation-for="Password"></span></div>
            </div>
            <div class="form-control flex">
                <div class="flex">
                    <button class="circle"></button>
                    <label>Show password</label>
                </div>
                <a href="">Forgot password?</a>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Login</button>
        </form>
    </div>
</div>