@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #3167eb;
    --title-color: #343a40;
    --text-color: #5e6267;
    --grey-transparent: rgba(0, 0, 0, 0.2);
    --green-light: #ccf0d1;
    --green: #55ca7c;
    --red: #f55a5a;
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    color: var(--text-color);
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: table;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/*----- Header -----*/
.header {
    width: 100%;
    padding: 0px 0 10px;
    position: fixed;
    top: 0px;
    background-color: white;
    border-bottom: 1px solid;
    border: 1px solid var(--grey-transparent);
}

    .header .container {
        grid-template-columns: 100px 600px 300px;
        grid-gap: 0;
    }

    .header .logo {
        justify-self: start;
    }

    .header .search-bar {
        width: 100%;
        margin-left: 50px;
    }

        .header .search-bar input {
            width: 100%;
            height: 40px;
            border-radius: 4px 0 0 4px;
            border: 1px solid var(--grey-transparent);
            padding-left: 10px;
            outline: none;
        }

        .header .search-bar button {
            height: 40px;
            border-radius: 0 4px 4px 0;
        }

    .header .account-space {
        justify-self: end;
    }

        .header .account-space .user {
            position: relative;
        }

        .header .account-space > * {
            justify-self: start;
            margin: 0 10px;
        }

        .header .account-space .circle {
            background-color: white;
        }

main {
    margin-top: 105px;
}

@media (max-width:1080px) {

    .header .container {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    .header .account-space {
        grid-column: 2 / span 3;
        grid-row: 1 / 2;
    }

    .header .search-bar {
        margin: 0;
        grid-row: 2 / 3;
        grid-column: 1 / span 2;
        justify-self: center;
    }

    main {
        margin-top: 165px;
    }
}

@media (max-width: 460px) {
    .header .container {
        grid-template-columns: 1fr;
    }

    .header .logo {
        justify-self: center;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .header .account-space {
        justify-self: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .header .search-bar {
        justify-self: center;
        margin: 0;
        grid-row: 3 / 4;
    }

    main {
        margin-top: 250px;
    }
}


/*----- Main -----*/
main .container {
    padding: 0 20px 0 0;
    align-content: start;
}


/*----- Categories -----*/
.categories {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--grey-transparent);
    text-align: center;
}

.categories .flex {
    justify-content: space-around;
}

.main-panel {
    width: 100%;
}

/*----- Login -----*/
.login .card {
    margin: 100px auto 0;
}

.login .form {
    min-width: 400px;
}

@media (max-width: 510px) {
    .login .card {
        margin: 0 auto;
    }

    .login .form {
        min-width: 100%;
    }
}

/*----- Footer -----*/
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--grey-transparent);
}
